
@use '../base/variables' as *;

// Container
.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $spacing-lg;
}

// Main content area (Sticky footer)
.site-main {
    flex: 1;
}

